.main-Div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
#top20Div {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.player-cont {
  background-color: #303030;
  color: #cccccc;
  opacity: 0.9;
  font-size: 1rem;
  text-align: center;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 2rem;
  font-family: "Monomaniac One", sans-serif;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  list-style: none;
}

#top20playercont {
  background-color: #303030;
  background-color: #303030;
  color: #cccccc;
  opacity: 0.9;
  font-size: 1rem;
  text-align: center;
  width: 20rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2rem;
  font-family: "Monomaniac One", sans-serif;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  list-style: none;
}

#top20playercont > * {
  margin: 0.5rem 0;
}

#top20playercont:hover {
  background-color: #3b3939;
}

.player-cont:hover {
  background-color: #3b3939;
}

.deleteicon {
  position: absolute;
  top: 35px;
  right: 15px;
  transition: 0.5s color ease;
}

.deleteicon:hover {
  cursor: pointer;
  color: #046b04;
}

.editicon {
  position: absolute;
  top: 10px;
  right: 24px;
}

.editicon:hover {
  cursor: pointer;
  color: #046b04;
}

.edit-button {
  position: absolute; /* Add position absolute */
  top: 10px; /* Adjust top position */
  right: 15px;
  transition: 0.5s color ease;
}

.edit-button:hover {
  cursor: pointer;
  color: #046b04;
}

.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #545454;
  border: 3px solid #303030;
  z-index: 9;
  color: #cccccc;
}

.form-popup h2 {
  margin-top: 0;
}

.form-popup form {
  display: flex;
  flex-direction: column;
}

.form-popup label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-popup input {
  padding: 5px;
  margin-bottom: 10px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}

.form-buttons button {
  padding: 5px 10px;
  margin-left: 10px;
}

.page-title {
  font-family: "Bebas Neue", sans-serif;
  color: #cccccc;
  margin-left: 2rem;
  border-bottom: 3px solid #046b04;
}

.page-background {
  background-image: url("https://images.pexels.com/photos/114296/pexels-photo-114296.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #303030;
  align-items: center;
  margin-bottom: 1.5rem;
}

#list {
  display: flex;
  list-style: none;
}

#listitem {
  font-size: 1.5rem;
  margin: 0 2rem;
  color: #cccccc;
  transition: 0.5s color ease;
}
#listitem:hover {
  cursor: pointer;
  color: #046b04;
}
